a {
    color: red;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
}
h1, #content {
    text-transform: uppercase; 
    color: gold; background-color: crimson;
    text-align: center;
    font-family: "Raleway", sans-serif;
}
div {
    font-family: "Raleway", sans-serif;
}
pre {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

a::before {
    content: url(http://68.media.tumblr.com/5075310a1d931bc94f2633b50065fc5d/tumblr_n157pnbkjU1qcxsluo2_1280.jpg);
}